<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="padding: 20px; background: #FFFFFF; color: #000000; font-size: 14px; font-family: sans-serif;">
        <img src="https://w7.pngwing.com/pngs/878/822/png-transparent-facom-hd-logo-thumbnail.png" alt="FACOM">
        <p>Hello [VALUE:facExcCliId.facCliFirstname] [VALUE:facExcCliId.facCliLastname],</p>
        <p>The product <i>[VALUE:facExcPrdId.facPrdName] (ref. [VALUE:facExcPrdId.facPrdReference])</i>
        for your exchange request [VALUE:facExcNumber] dated [VALUE:facExcDate] is available at your distributor.</p>
        <p>Please pick it up at:</p>
        <p>
        <b>[VALUE:facExcDisId.facDisName]</b>
        <br/><a href="[VALUE:facExcDisId.facDisMapURL]">[VALUE:facExcDisId.facDisAddress]</a>
        </p>
    </div>
</body>
</html>